<h3> <%= @article.title.capitalize %></h3>
<div>
	<p>
		<%= @article.content%>
	</p>	
</div>
<div>
	<h3> Comments:</h3>
	<ul class="list-group">
	  <% @comments.each do |comment| %>
	    <li class="list-group-item">
	      <p> 	
	        <strong> Posted <%= time_ago_in_words(comment.created_at) %> ago </strong> <br> 
	        <%= comment.content %>
	      </p> 
	    </li>
	  <% end %>
	</ul>  
</div>
<!--add a form to make an comment on a particular article-->
<div>
	<%= simple_form_for [@article, Comment.new] do |f| %>
    <div class="form-group" >
	    <%= f.input :content, :label => 'Comment', class:'form-control' %>
    </div>
    <%= f.submit "Submit comment", class:'btn btn-primary'%>	  
  <% end %>	
</div>